<nav >
    <div class="nav_element"><a href="">Link 1</a></div>
    <div class="nav_element"><a href="">Link 2</a></div>
    <div class="nav_element"><a href="">Link 3</a></div>

    <div class="right_menu">
        <div class="user_profile">
            <div class="nav_element user_name">
                {% if user.is_authenticated %}
                    {% comment %} Hi {{ user.first_name }} {{ user.last_name }}! {% endcomment %}
                    Hi {{ user.get_username }}!
                {% else %}
                    You are not logged in! <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
            <div class="nav_element user_img">
                <a href="/view_profile_page" ><img src="{{ user.profile.profile_image.url }}" alt="user logo"></a>
            </div>
        </div>
        {% if user.is_authenticated == True %}
            <a class="nav_element logout_button" href="{% url 'logout' %}">Log Out</a>
        {% endif %}
    </div>
</nav>