<!-- templates/registration/login.html -->

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/login.css' %}">
</head>

<body class="">
  <div class="login_container">
    <div class="login_logo">
      <img src="{% static 'main_app/assets/logo.png' %}" alt="logo">
    </div>
    <form action="" method="post" class="login_form">
      {% csrf_token %}
      {% for field in form %}
        <div class="{{ field.id_for_label }} login_form_input">
          <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="" type="{% if field.id_for_label == 'id_password'%}password{% else %}text{% endif %}"/> 
          {{ field.errors }}
        </div>
      {% endfor %}
      <div class="form_submit">
        <input type="submit" value="Log in">
      </div> 
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
    </form>
    <p>Support siginig in later!<a href="#">Sign in</a></p>
  </div>
</body>
