body{
    margin: 0;
    background-color: #D4DBF5;
    font-family:'Montserrat', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background-color:#D3EEFF;
}

.task_container{
    width: 20%;
    height: 100%;
    background-color:#4B8CA6;
}

.center_block{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: auto;

    text-align: center;
}

/* Color Theme Swatches in Hex */
.Glowing-All-1-hex { color: #0A1747; }
.Glowing-All-2-hex { color: #0029FA; }
.Glowing-All-3-hex { color: #8D07F6; }
.Glowing-All-4-hex { color: #FFFF05; }
.Glowing-All-5-hex { color: #D4DBF5; }

/* Color Theme Swatches in RGBA */
.Glowing-All-1-rgba { color: rgba(10, 23, 71, 1); }
.Glowing-All-2-rgba { color: rgba(0, 41, 250, 1); }
.Glowing-All-3-rgba { color: rgba(141, 7, 246, 1); }
.Glowing-All-4-rgba { color: rgba(255, 255, 5, 1); }
.Glowing-All-5-rgba { color: rgba(212, 219, 245, 1); }

/* Color Theme Swatches in HSLA */
.Glowing-All-1-hsla { color: hsla(227, 75, 15, 1); }
.Glowing-All-2-hsla { color: hsla(230, 100, 49, 1); }
.Glowing-All-3-hsla { color: hsla(273, 94, 49, 1); }
.Glowing-All-4-hsla { color: hsla(60, 100, 50, 1); }
.Glowing-All-5-hsla { color: hsla(227, 62, 89, 1); } 