/* .user_profile{
    background-color: white;
    border: 1px #eaecef solid;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
  } */
  
  /* .user_name{
    text-align: center;
  } */
  
  /* .user_img{
    padding: 20px;
  }
  .user_img > img{
    margin: 0 auto;
    display: block;
    max-width: 50%;
    max-height: 50%;
  } */
